/** header **/

.container {
	width: 95%;
	margin: 0 auto;
}

.title {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  font-size: 20px;
  font-family: 'Cinzel', serif;
  font-weight: 800;
  color: black;
}
.search{
  float:left;
  position:relative;
  height: 30px;
  top:20px;
}

.search .input{
  background-color: white;
  font-size:24px;
  padding: 15px;
  height:30px;
  width:30px;
  transition: width 0.3s ease;
}

.btn{
  padding: 15px;
  background-color:white;
  cursor:pointer;

  font-size: 24px;
  position:absolute;
  top:0;
  left:0;
  height:30px;
  width:30px;
  transition: transform 0.3s ease;
}

.btn:focus, .input:focus{
  outline:focus;
}

.search.active .input{
  width: 200px;
  
}
.search.active .btn{
  transform: translateX(198px);
}

header {
  background: #ffffff;
  background: white;
  text-align: center;
  margin-bottom: 10px;
}

header::after {
  content: '';
  display: table;
  clear: both;
  margin-bottom: 50px;
}

.logo {
  float: center;
  position: absolute;
  top: 5px;
  left: 640px;
  padding: 10px 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -25px;
}

nav {
  float: right;
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  margin-top: 5px;
  padding-top: 23px;
  padding-bottom: 15px;
  position: relative;
}

nav a {
  color: #694639;
  text-decoration: none;
  /**text-transform: uppercase;**/
  font-size: 18px;
}

nav a:hover {
  color: #694639;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #694639;

  position: absolute;
  bottom: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

nav a:active {
  color: #D7C2AE;
  cursor: default;
}

nav li:active {
  color: #FFEB98;
  cursor: default;
}


/** header end **/

.foodType{
  background-color: #D7C2AE;
  color: white;
  text-align:center;
  vertical-align: center;
  margin-left: 200px;
  margin-right: 200px;
  height: 40px;
  padding-top: 7px;
  margin-top: 20px;


}
#HeaderBackground{
  text-align:center;
  color:#694639;
}
h4{
  display: inline-block;
  padding-left: 20px;
  padding-right:20px;
  color: #694639;
  font-size:20px;
  margin:10px;
  border: #694639 solid;
  border-radius: 6px;
}
h4:hover {
background-color: #694639;
  color: white;
}

.foodTitle {
  color: #694639;
}

.LeftColumnFood{
  width: 45%;
  float:left;
}
.RightColumnFood{
  width: 45%;
  float:right;
}
.menu{
  margin-left: 200px;
  margin-right: 200px;
  height:auto;
  overflow: hidden;
}
.food{
  position:relative;
}
.price{
  position:absolute;
  top: 0px;
  right:5px;
  color: #694639;
  font-size: 20px;
  margin-top: 3px;  
}

/** footer **/

/*
.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: yellow;
}

  body, html {
    height: 100%;
  }
*/

/*footer*/
.footer {
  margin-top: 100px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.footerColumn {
  height:100px;
  width: 33.33%;
  float: left;
  text-align: center;
  background-color: #D7C2AE;
}

#searchicon{
  margin-top:-33px;
  margin-left:-43px;
}


/* socials */

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-instagram {
  color: #D7C2AE;
  color: black;
}

/* Twitter */
.fa-facebook {
  color: #D7C2AE;
  color: black;
}

/* Twitter */
.fa-yelp {
  color: #D7C2AE;
  color: black;
}

i{
    color: #694639;
}

.form-control {
  width: 200px;
  height: 30px;
}

.subscribe {
  font-size: 16;
  text-align: left;
  padding-left: 90px;
}

button {
  height: 20px;
  width: 20px;
}
.fa-fa-paper-plane-fa-1x{
  width:100%;
  height:100%;
  text-align: left;
  margin-left: -10px;
}
.input-group{
  padding-top: -10px;
  padding-bottom: -10px;
  margin-top: -35px;
}

.list-unstyled-text-muted {
  list-style-type: none;
}

.credits {
  margin-top: -10px;
}